.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }

  .intro-container h1,
  .intro-container h2 {
    color: rgb(39, 117, 33);
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .intro-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .homeImage {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px;
  }

  .service-button,
  .sign-up-button {
    padding: 15px 40px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .service-button:hover,
  .sign-up-button:hover {
    background-color: #45a049;
  }

  .call-to-action {
    text-align: center;
    padding: 50px;
    background-color: #68C36C;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .call-to-action h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .call-to-action p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }